<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定对应interface-->
<mapper namespace="com.zeng.GoodsMapper">
    <select id="selectGoods" resultType="com.zeng.domain.Goods">
        SELECT * FROM goods
        <where>
            <if test="platform != null">
                platform = #{platform}
            </if>
            <if test="fundType != null">
                AND fund_type = #{fundType}
            </if>
        </where>
         LIMIT #{pageStart},#{pageSize}
    </select>
</mapper>